<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
      <title>Home Page</title>
      {% load static %}
      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
      <meta charset="utf-8">



<script type="text/javascript">

var i=false
var arr=[]
function validate(frm)
{
  var ele = frm.elements['feedurl[]'];
  if (! ele.length)
  {
    alert(ele.value);
  }
  for(var i=0; i<ele.length; i++)
  {
    alert(ele[i].value);
  }
  return true;
}
function add_feed()
{
  if(i==false){
    arr.push(document.getElementById('row0').value)
  }
  var div1 = document.createElement('div');
  
  
  div1.innerHTML = document.getElementById('row1').innerHTML;
  
  document.getElementById('row0').appendChild(div1);
  arr.push(document.getElementById('row1').value)

}

function add_form()
{
document.getElementById('new_form').style.display = '';
}

</script>

   </head>

<body>

   <nav class="nav-extended">
         <div class="nav-wrapper">
            <a id="logo-container" href="#" class="brand-logo center" >Recipe Extractor and Storage Application</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
               <li ><a href="{% url 'logout' %}"><i class="large material-icons left">exit_to_app</i>Logout</a></li>
            </ul>
         </div>
         <div class="nav-content">
            <ul class="tabs tabs-transparent">
               <li class="tab"><a href="{% url 'userhomepage' %}">Recipes</a></li>
               <li class="tab"><a href="#test2">Upload Link</a></li>
               <li class="tab"><a href="{% url 'writeRecipe' %}">Write Recipe</a></li>
               <li class="tab"><a href="#test4">Dictate Recipe</a></li>
               <h5 class="right">Hello,  {{ user.first_name}} &nbsp;&nbsp;</h5>
            </ul>
         </div>
      </nav>

<div class='row'>  
   

   <h4> &nbsp; <i class='teal-text text-lighten-2'>Recipe Name:</i>  <font size='+3'>{{recipe.recipe_title}} </font> </h4>

   <h4>&nbsp; <i class='teal-text text-lighten-2'> Ingredients:</i> {% for i in ingredients %} <font size='+3'>{{i.ingredient_name}} </font> {% endfor %} </h4>
   <h4> &nbsp; <i class='teal-text text-lighten-2'> Recipe: </i></h4>
   <p> &nbsp;  &nbsp; <font size='+1'>{{recipe.recipe_template }} </font></p><br>

   

</div>

<button onclick="add_form()" class="btn">Edit</button> 






<div id=new_form style="display: none">
      <div class="row">

<form  method ="POST" class="col s12">
      {% csrf_token %}




      <input type="hidden" name="recipe_id" value="{{profile}}">

      <div class="row">
        <div class="input-field col s12">
          <textarea name="title" id="textarea1" class="materialize-textarea" > {{recipe.recipe_title}} </textarea>
           {{write.title}}
        </div>
      </div>




      <div id=row0>
        <div class="row">
          <div class="input-field col s12" id="newlink">
            <textarea name="feedurl[]" id="textarea3" class="materialize-textarea">{% for i in ingredients %}{{i.ingredient_name}} {% endfor %} </textarea>
            {{write.ingredients}}
          </div>
        </div>
      </div>
      
   
  
      <p id="addnew">
        <a href="javascript:add_feed()">Add New </a>
      </p>



      <div class="row">
        <div class="input-field col s12">
          <textarea name="recipe" id="textarea2" class="materialize-textarea">{{recipe.recipe_template }} </textarea>
          {{write.recipe}}
        </div>
      </div>




      

      <div class="row center-align">
        <div class = "form-groups mr-sm-2 mb-2 ml-sm-2">
          <input type = "submit" class = "btn btn-primary btn-sm" value="submit">
        </div>
      </div>

      

    </form>

    
     <div id=row1 style="display: none">
      <div class="row">
        <div class="input-field col s12" id="newlinktpl">
         <textarea name="feedurl[]" id="textarea" class="materialize-textarea"></textarea>
         <label for="textarea">Enter Ingredient</label>
        </div>
      </div>
    </div>
  
  </div>


      </div>
      


</body>
</html>

