{% block content %}

	
	
	<div class = "d-flex align-items-center justify-content-center background" style="height: 100vh">
		<div class = "card card-block d-flex" style = "width: 350px; box-shadow: 0 30px 60px 0 rgba(0,0,0,0.15);">
			<div class = "card-body">
				<h5 class = "card-title">Hello, {{ user.first_name}}</h5>
				<p class = "mr-sm-2 mb-2 ml-sm-2"> Homepage </p>
				<form method="post" enctype="multipart/form-data">

					<a class="btn btn-secondary ml-2 btn-sm" href="{% url 'logout' %}" role = "button">Logout</a>
			
					</div>
				</form>
					</div>
				</form>
				
		</div>
	</div>
{% endblock %}