<head>
   {% load static %}
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
{% block content %}
<!--<h1> Hello {{name}}!!!!!</h1> -->
<body>

  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo center" >Recipe Extractor and Storage Application</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li ><a href="{% url 'logout' %}"><i class="large material-icons left">exit_to_app</i>Logout</a></li>
      </ul>
    </div>

    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="{% url 'userhomepage' %}">Recipes</a></li>
        <li class="tab"><a href="{% url 'upload_link' %}">Upload Link</a></li>
        <li class="tab"><a href="{% url 'writeRecipe' %}">Write Recipe</a></li>
        <li class="tab"><a href="#test4">Dictate Recipe</a></li>
        <h5 class="right">Hello,  {{ user.first_name}} &nbsp;&nbsp;</h5>
      </ul>
    </div>
  </nav>

<div class="row">
    <div class="col s12 center">
      <h3>
        <i class="mdi-content-send brown-text"></i>
      </h3>
      <h4>Upload Link</h4>
    </div>
  </div>

<div class = "d-flex align-items-center justify-content-center" style="height: 100vh">
   <!-- <img src = "/images/newphoto.jpeg" class = "img-fluid image"> -->
   <div class = "card card-block d-flex " style="width: 350px; box-shadow: 0 30px 60px 0 rgba(0,0,0,0.15);">
      <div class = "card-body">
         <h5 class = "card-title">Insert your website link below</h5>
         <form method ="POST">
   
         {% csrf_token %}
         <div class = "form-groups mr-sm-2 mb-2 ml-sm-2">
            <label for = "text" >Website Link:</label>
            <input type = "text" name = "username" class = "form-control" id = username>
         </div>
         <!-- Enter Email : <input type="text" name="user_name" placeholder="user_name"> <br>
         Enter Password : <input type="password" name="password" placeholder = "password"> <br> -->
         <div class = "form-groups mr-sm-2 mb-2 ml-sm-2">
            <input type = "submit" class = "btn btn-primary btn-sm">
         </div>
         <!--     Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
         <input type="submit"> -->
         </form>
      </div>
      
   
   <!-- </div class = "card"> -->
   <!-- <div class = "wrapper fadeInDown">
      <div id = "formContent">
         <div class = "fadeIn first">
            <h2>Log In</h2>
         </div>

         <form>
            <input type = "text" id = "login" class = "fadeIn second" name = "login" placeholder="Username">
            <input type = "text" id = "password" class = "fadeIn third" name = "login" placeholder="Password">
            <input type = "submit" class = "btn btn-primary" value = "Submit">
         </form>
      </div>
   </div> -->

   </div>
</div>
<div class = "alert alert-danger">
         {% for message in messages %}
         <h3> {{message}} </h3>
         {% endfor %}
</div>
</body>

{% endblock %}
